<%- include("../partials/adminHeader")-%>

<section class="con redirlogCon authCon boxShadow">
  <p class="reH">You need to logIn to proceed futher</p>
  <a class="redBtn boxShadow" href="/auth/login">LogIn</a>
  <p class="or">OR</p>
  <p class="reH">Create an account instead</p>
  <a class="redBtn boxShadow" href="/auth/register">Register</a>

  <img class="authImg" src="/images/dogWalking.svg" alt="Dog Walking">

</section>

<%- include("../partials/adminFooter") -%>
