<%- include("../partials/adminHeader")-%>

<section class="con">
  <h2>Admin Panal</h2>

  <h4><a href="/admin/addPet">Add Pet</a></h4>
  <h4><a href="/admin/requests"></a></h4>
</section>

<%- include("../partials/adminFooter") -%>
