<%- include("../partials/header") -%>

<section class="con">
  <div class="reqConfCon">
    <h3>Request Submited Succesfully!!!</h3>
    <p>Thanks for showing interest in us.</p>
    <button class="bubbleBtn">
      <a href="/request" >Your Requests</a>
    </button>
  </div>
</section>

<%- include("../partials/footer") -%>
