<%- include("partials/adminHeader") -%>

  <section class="con con404">
    <h2>You might be lost</h2>
    <p>We tried our level best searching but counldn't find what you are looking for. Go on a better place for now.</p>
    <a class="redBtn boxShadow" href="/">Home</a><br />
    <img class="img404" src="/images/dogWalking.svg" alt="Dog Walking">
  </section>

<%- include("partials/adminFooter") -%>
