<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!--Meta Declaration-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FF007F">

    <title>Petfect</title>
    <link rel="icon" href="/images/dogFavicon.png">

    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;700&display=swap" rel="stylesheet">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ="
    crossorigin="anonymous" />

    <!-- Local Styling -->
    <link rel="stylesheet" href="/styles/countdown.css">

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '346315197247658');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=346315197247658&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

  </head>
  <body>
    <!--NavBar Section -->
    <div class="header">
      <h1 class="name">
        <a class="logo" href="/"><img class="adminHeadImg" src="/images/logo.jpg" alt=""> Petfect</a>
      </h1>
    </div>

    <section class="con countCon">
      <h2>We are going live in!</h2>

      <div class="countDown">
        <div class="indiCountDiv">
          <span class="dynamic day">-</span>
          <p>Day</p>
        </div>
        <div class="indiCountDiv">
          <span class="dynamic hour">-</span>
          <p>Hour</p>
        </div>
        <div class="indiCountDiv">
          <span class="dynamic min">-</span>
          <p>Minute</p>
        </div>
        <div class="indiCountDiv">
          <span class="dynamic sec">-</span>
          <p>Second</p>
        </div>
      </div>

      <div class="notiDiv">
        <input class="notiEmail" type="email" name="notiEmail" placeholder="Enter Email Address">
        <button class="notiBtn" type="button" name="button">Notify Me</button>
      </div>
      <p class="sendS">Thanks for showing interest towards Petfect!!<br>You will be notified at the time of launch.</p>

      <img class="imgCount" src="/images/dogWalking.svg" alt="Dog Walking">
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/countdown.js"></script>

  </body>
</html>
