<%- include("partials/header") -%>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


  <section class="con lanSec1">
    <img class="lanImgDes" src="/images/modernWoman.svg" alt="">
    <img class="lanImgMob" src="/images/dogWalking.svg" alt="">
    <div class="contentSec">
      <h2>We introduce you with someone, who will always be on your side.</h2>
      <p>PetFect is a plateform made for all the animals lovers,
        finding a perfect pet for themself.
        </p>
    </div>
    <button class="bubbleBtn">
      <a href="/pets/finder"><i class="fas fa-paw"></i>  PetFinder</a>
    </button>
  </section>

  <section class="con lanSec2">

    <a href="/pets" class="workA">
      <div class="featCon">
        <div class="feat" data-aos="fade-right">
          <i class="fas fa-plus-circle"></i>
          <h4>Add all the pet breeds, you are intrested in to your InterestList.</h4>
        </div>
        <div class="feat" data-aos="fade-up" data-aos-delay="200">
          <i class="fas fa-align-center"></i>
          <h4>Specify your pet requirements and budget.</h4>
        </div>
        <div class="feat" data-aos="fade-down" data-aos-delay="300">
          <i class="fas fa-dog"></i>
          <h4>Get tremendous amount of pet option for you to select from.</h4>
        </div>
        <div class="feat" data-aos="fade-left" data-aos-delay="400">
          <i class="fas fa-truck"></i>
          <h4>Get your pet delivered to you safely.</h4>
        </div>
      </div>
    </a>

  </section>

  <section class="con" id="contactUs">

    <div class="row contactCon">
      <div class="col-lg-5 contactInfoCon">
        <h4>Contact Details</h4>
        <p>Phone Number: <span><a href="tel:6350345411">6350345411</a></span></p>
        <p>Email Address: <span><a href="mailto:contact@petfect.in">contact@petfect.in</a></span></p>
        <div class="socialIcons">
          <a href="https://www.instagram.com/petfect.in" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
          <a href="https://wa.me/916350345411" target="_blank"><i class="fab fa-whatsapp fa-2x"></i></a>
          <a href="mailto:contact@petfect.in"><i class="far fa-envelope fa-2x"></i></a>
          <a href="tel:6350345411"><i class="fas fa-phone-alt fa-2x"></i></a>

        </div>
      </div>
      <div class="col-lg-7 contactSubCon">
        <h4>Send your Message</h4>
        <form action="/contact" method="POST" data-aos="flip-left" data-aos-duration="500">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" <%if(isLogedIn){%>value="<%= user.name%>"<%}%> required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" <%if(isLogedIn){%>value="<%= user.username%>"<%}%> required>
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" name="subject" required>
          </div>
          <div class="form-group">
            <label for="subject">Message</label>
            <textarea class="form-control" name="message" placeholder="Enter Message.."></textarea>
          </div>

          <button type="submit" class="bubbleBtn btnIP">
            Submit
          </button>
        </form>
      </div>
    </div>
    <!-- <img class="dogBackgroundImg" src="/images/dogBackground.jpg" alt=""> -->
  </section>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
       offset: 190,
       duration: 300,
       easing: "ease-in-cubic"
    });
  </script>

  <!-- GSAP & Plugin CDN -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script> -->

<%- include("partials/footer") -%>
