<%- include("../partials/header") -%>

<section class="con">
  <h2>If your pet is not on the plateform, you can submit your specific pet request here</h2>
  <h3>And we will try our best to provide you with your requirements</h3>
</section>

<%- include("../partials/footer") -%>
