<%- include("../partials/header") -%>

<section class="con specCon">
  <h2>If your pet is not on the plateform, you can submit your specific pet request here.<br>And we will try our best to provide you with your requirements</h2>

  <div class="specCS boxShadow">This option is Comming Soon...</div>
</section>
<%- include("../partials/footer") -%>
